---
layout: post-index
title: Projects
---

<article>
    <h1 class="entry-title">
        <a>{{ page.title }}</a>
    </h1>
</article>
<div class="gallery" role="main">
    {% for item in site.categories.projects %} 
        <div class="card" style="background-image:url({{item.splash | prepend: site.baseurl}});">
            <a href="{{ item.url }}" title="{{ item.title }}">
                <h3>{{ item.title }}</h3>
                <span>({{ item.date | date: "%B %d, %Y" }})</span>
            </a>
        </div>
    {% endfor %}
</div>